main{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section{
    /* border: 2px solid red; */
    width: 100%;
}

.section-cards{
    /* border: 2px solid red; */
    width: 80%;
}